<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.xwiki.android.client"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_OWNER_DATA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"></uses-permission>
<!-- android:name="org.xwiki.android.context.XWikiApplicationContext" to extend application with our own application Context -->
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="org.xwiki.android.context.XWikiApplicationContext">
        <activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".launcher.IconLaunchPad"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity android:name=".nav.PageViewActivity"></activity>
        
        <!-- launchable activities -->
        <activity android:name=".blog.Blogger" android:label="Blog Application" android:icon="@drawable/blog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="xwiki.android.action.MAIN"/>
                <action android:name="xwiki.android.action.BLOG"/>
                <category android:name="android.intent.category.LAUNCHER" />                
            </intent-filter>
        </activity>
        
        <activity android:name=".nav.XwikiNavigator" android:icon="@drawable/navigator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="xwiki.android.action.MAIN"/>
                <action android:name="xwiki.android.action.NAVIGATOR"/>
                <category android:name="android.intent.category.LAUNCHER" />                
            </intent-filter>
        </activity>
        <activity android:name=".dev.ConfigurationActivity" android:icon="@drawable/devtools">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="xwiki.android.action.MAIN"/>
                <action android:name="xwiki.android.action.CONFIGURATION"/>
                <category android:name="android.intent.category.LAUNCHER" />           
            </intent-filter>
        </activity>
        <activity android:name=".dev.QuickTest" android:icon="@drawable/quicktest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="xwiki.android.action.MAIN"/>
                <action android:name="xwiki.android.action.QuickTests"/>
                <category android:name="android.intent.category.LAUNCHER" />                      
            </intent-filter>
        </activity>
        <!--  sub activities 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!--  blog -->
        <activity android:name=".blog.BlogPrefernces" android:label="Blog App Preferences"/>
        
        
        <!-- activities from UI comp lib  -->
        <activity android:name="org.xwiki.android.components.login.LoginActivity"></activity>
        <activity android:name="org.xwiki.android.components.objectnavigator.ObjectNavigatorActivity"></activity>
        <activity android:name="org.xwiki.android.components.navigator.XWikiNavigatorActivity"></activity>        
        <activity android:name="org.xwiki.android.components.pageviewer.XWikiPageViewerActivity"></activity>
        <activity android:name="org.xwiki.android.components.listnavigator.XWikiListNavigatorActivity"></activity>
        <activity android:name="org.xwiki.android.components.commenteditor.CommentEditorActivity"></activity>
        <activity android:name="org.xwiki.android.components.attachments.AttachmentActivity"></activity>
        <activity android:name="org.xwiki.android.components.search.SearchActivity"></activity>
        <activity android:name="org.xwiki.android.components.search.SearchResultsActivity"></activity>
        <activity android:name="org.xwiki.android.components.objecteditor.ObjectEditorActivity"></activity>
        <activity android:name="org.xwiki.android.components.classviewer.ClassListActivity"></activity>
        <activity android:name="org.xwiki.android.components.classviewer.ClassViewerActivity"></activity>

    </application>
</manifest>