<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.xwiki.android.components"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_OWNER_DATA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="navigator.XWikiNavigatorActivity"></activity>
        <activity android:name=".propertyeditor.PropertyEditorActivity"></activity>
        <activity android:name=".objecteditor.ObjectEditorActivity"></activity>
        <activity android:name=".pageeditor.PageEditorActivity"></activity>
        <activity android:name=".objectnavigator.ObjectNavigatorActivity"></activity>
        <activity android:name=".login.LoginActivity"></activity>
        <activity android:name=".pageviewer.XWikiPageViewerActivity"></activity>
        <activity android:name=".attachments.AttachmentActivity"></activity>
        <activity android:name=".commenteditor.CommentEditorActivity"></activity>
        <activity android:name=".search.SearchActivity"></activity>
        <activity android:name=".search.SearchResultsActivity"></activity>
        <activity android:name=".listnavigator.XWikiListNavigatorActivity"></activity>

    </application>
</manifest>