<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.xwiki.android.tests"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    <instrumentation android:targetPackage="org.xwiki.android.tests" android:name="android.test.InstrumentationTestRunner" android:label="XWiki Instrumentation Tests"></instrumentation>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library android:name="android.test.runner"></uses-library>
        <activity android:name="org.xwiki.android.components.login.LoginActivity"></activity>
        <activity android:name="org.xwiki.android.components.attachments.AttachmentActivity"></activity>

    </application>
</manifest>